h2 {
    font-size: 28px;
    text-align: center;
}

p {
    font-size: 20px;
    font-weight: normal;
}
input {
    min-height: 30px;
    display: block;
    width: 400px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 18px;
}

button {
    font-size: 18px;
    min-height: 30px;
}